@use "base/variables" as v;
@use "base/mixins" as m;

.elige {
  padding: 2rem;
  color: v.$blanco;
  font-size: 2rem;
  display: block;
  text-align: center;
}

* {
  margin: 0;
}
.contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  justify-items: center;

  @include m.desktop {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  gap: 2rem;
  padding-top: 0;
  .item-primavera {
    background-image: url(../../build/img/primavera.webp);
    justify-content: center;
    border-radius: 3rem;
    height: 30rem;
    width: 30rem;
    padding: 0rem;
    background-size: cover;
    background-position: center center;
    justify-content: center;
    gap: 2rem;
  }
  .item-verano {
    background-image: url(../../build/img/verano.webp);
    justify-content: center;
    border-radius: 3rem;
    height: 30rem;
    width: 30rem;
    padding: 0rem;
    background-size: cover;
    background-position: center center;
    justify-content: center;
    gap: 2rem;
  }
  .item-otono {
    background-image: url(../../build/img/otono.webp);
    justify-content: center;
    border-radius: 3rem;
    height: 30rem;
    width: 30rem;
    padding: 0rem;
    background-size: cover;
    background-position: center center;
    justify-content: center;
    gap: 2rem;
  }
  .item-invierno {
    background-image: url(../../build/img/invierno.webp);
    justify-content: center;
    border-radius: 3rem;
    height: 30rem;
    width: 30rem;
    padding: 0rem;
    background-size: cover;
    background-position: center center;
    justify-content: center;
    gap: 2rem;
  }
}

.nombre-estacion {
  margin: 0rem;
  text-align: center;
  color: v.$negro;
  font-family: v.$fuente_estacion;
  padding-top: 1rem;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
}
